﻿@model MyClient_Core.Models.Clients

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Realmente desea borrar la información?</h3>
<div>
    <h4>Clients</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clieid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clieid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
