﻿@model IEnumerable<MyClient_Core.Models.Clients>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Ingresa Nombre o Email" name="ClieSearch"
               value="@ViewData["GetClient"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clieid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clieid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Clieid }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Detail", new { id = item.Clieid }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Clieid }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
